<main id="home-section">
    <h1>Welcome, my guest</h1>
    <h2>Thanks you visit my own BackEnd host</h2>

    <p>Please wait 5 seconds to be redirect to my Portfolio!</p>
    <button><a href="https://www.slavo-v.eu">Speed</a></button>
</main>
<script src="/static/reSend.js" type="module"></script>