<section id="upload-section">
    <form action="/second/upload" method="post" enctype="multipart/form-data">
        <label>Name: <input type="text" name="name" /></label>
        <label>File: <input type="file" name="image" /></label>
        <button type="submit">Submit</button>
    </form>
</section>