body {
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
}

#home-section {
    text-align: center;
}

p {
    font-size: 20px;
}

button {
    background-color: rgb(83, 118, 14);
    padding: 2px 16px;
    border-radius: 6px;
    box-shadow: unset;
}

button:hover {
    background-color: rgb(48, 68, 8);
    padding: 4px 20px;
}

a {
    text-decoration: none;
    color: white;
}

#upload-section,
#remove-section {
    padding: 20px 100px;
    margin-left: 180px;
    width: 450px;
    border: 2px solid blue;
    background-color: rgba(91, 70, 65, 0.5);
}

#upload-section form,
#remove-section form {}

#upload-section label,
#remove-section label {
    display: block;
    margin: 10px;
    font-size: 20px;
    color: black;
}

#upload-section input,
#remove-section input {
    border-radius: 6px;
    font-size: 20px;
    color: black;
}

#upload-section button,
#remove-section button {
    display: block;
    margin-left: 8px;
    font-size: 20px;
}

#upload-section button:hover,
#remove-section button:hover {
    background-color: aliceblue;
    color: blanchedalmond;
}

#error-section {
    text-align: center;
    background-color: red;
    padding: 4px;
    margin-bottom: 10px;
}

#error-section p {
    margin: 0;
}

#register-form-section,
#login-form-section {
    border: 2px solid black;
    width: 50%;
    padding: 20px;
    margin: 10px;
}


#register-form-section form,
#login-form-section form {
    padding-left: 30%;
}

#register-form-section input,
#login-form-section input {
    display: block;
    margin-bottom: 8px;
}

#error-page {
    text-align: center;
    background-color: beige;
    padding: 60px;
}

#error-page h1 {
    font-size: 34px;
}

#error-page h2 {
    font-size: 30px;
}

.remove-picture div {
    display: inline-block;
    padding-right: 20px;
}

.remove-picture img {
    width: 120px;
    height: 120px;
}