body {
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
}

#home-section {
    text-align: center;
}

p {
    font-size: 20px;
}

button {
    background-color: rgb(83, 118, 14);
    padding: 2px 16px;
    border-radius: 6px;
    box-shadow: unset;
}

button:hover {
    background-color: rgb(48, 68, 8);
    padding: 4px 20px;
}

a {
    text-decoration: none;
    color: white;
}

#upload-section {
    padding: 20px 100px;
    margin-left: 180px;
    width: 450px;
    border: 2px solid blue;
    background-color: rgba(91, 70, 65, 0.5);
}

#upload-section form {

}

#upload-section form label { 
    display: block;
    margin: 10px;
    font-size: 20px;
    color: black;
}

#upload-section input {
    border-radius: 6px;
    font-size: 20px;
    color: black;
}

#upload-section form button {
    display: block;
    margin-left: 8px;
    font-size: 20px;
}

#upload-section button:hover {
    background-color: aliceblue;
    color: blanchedalmond;
}

#error-section {
    text-align: center;
    background-color: red;
    padding: 4px;
    margin-bottom: 10px;
}

#error-section p {
    margin: 0;
}